p {
    color: black;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    line-height: 1.6;
} 
    #h{
        background-color: rgb(253, 17, 17);
        border: black;
    }
    #c {
        background-color: rgb(5, 97, 202);
    }
    #hi {
    background-color: rgb(255, 255, 255)
    }
    #h1 {
        background-color: rgb(255, 255, 255)
    }
    #h2 {
        background-color: rgb(255, 255, 255)
        }
    #h3 {
            background-color: rgb(255, 255, 255)
    }
    #h4 {
        background-color: rgb(255, 255, 255)
    }
    #h5 {
    background-color: rgb(255, 255, 255)
}
    #h6 {
    background-color: rgb(255, 255, 255)
}
    #h7 {
    background-color: rgb(255, 255, 255)
}
#h8 {
    background-color: rgb(255, 255, 255)
}
#h9 {
    background-color:rgb(255, 255, 255)
}
#h10 {
    background-color: rgb(255, 255, 255)
}
#h11 {
    background-color: rgb(255, 255, 255)
}
#h12 {
    background-color: rgb(255, 255, 255)
}
#h13 {
    background-color: rgb(255, 255, 255)
}
#h14 {
    background-color: rgb(255, 255, 255)
}
#h15 {
    background-color: rgb(255, 255, 255)
}
#h16 {
    background-color: rgb(255, 255, 255)
}
#h17 {
    background-color: white
}
#h18 {
    background-color: white
}

#h19 {
    background-color: white
}

#h20 {
    background-color: rgb(255, 255, 255)
}
#h21 {
    background-color: rgb(255, 255, 255)
}
#h22 {
    background-color: rgb(255, 255, 255);
    }
#h23 {
    background-color: rgb(255, 255, 255);
}
#h00 {
    background-color: rgb(209, 118, 14);
}
#h000 {
    background-color: rgb(5, 228, 53);
}
#k {
    font-size: 25px;
}